@model IEnumerable<ERPManagementSystem.Models.PurchaseOrder>
@using ERPManagementSystem.Extensions;
@{

    Pager pager = new Pager();
    int pageNo = 0;
    var i = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
        if (pager.CurrentPage == 1)
        {
            i = pager.StartPage;
        }
        if (pager.CurrentPage > 1)
        {
            i = pager.PageSize * (pager.CurrentPage - pager.StartPage);
            i++;
        }
    }

}


@if (Model != null)
{
    <table class="table table-hover">
        <thead>
            <tr>
                @*<th scope="col"><i class="fas fa-plus"></i></th>*@
                <th scope="col">#</th>
                <th scope="col">Reference No</th>
                <th scope="col">Vendor</th>
                <th scope="col">Discout</th>
                <th scope="col">Shipping Cost</th>
                <th scope="col">Delivery Date</th>
                <th scope="col">Total Amount</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr onclick="ShowInLargePopupOnEdit('@Url.Action("AddOrEdit","PurchaseOrders",new { id=item.Id},Context.Request.Scheme)','Update Purchase Order' )">
                    @*<td scope="row"><a href="#" class="childrowexpand"><input type="hidden" asp-for="@item.Id" /><i class="fas fa-plus"></i></a></td>*@
                    <td scope="row">@i</td>
                    <td>@item.PurchaseNo</td>
                    <td>@item.Vendor.DisplayName</td>
                    <td>@item.Discont</td>
                    <td>@item.ShippingCost</td>
                    <td>@item.OrderDate</td>
                    <td>@item.DeliveryDate</td>
                    <td>@item.TotalAmount</td>
                    <td>@item.PurchaseOrderStatus</td>
                </tr>
                i++;
            }
        </tbody>
    </table>
    <div class="row">
        <div class="col-md-12 col-12 col-lg-12">
            @if (pager.TotalPages > 0)
            {
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        @if (pager.CurrentPage > 1)
                        {
                            <li class="page-item">
                                <a class="page-link" asp-controller="PurchaseOrders" asp-action="Index" asp-route-pg="1">Frist</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" asp-controller="PurchaseOrders" asp-action="Index" asp-route-pg="@(pager.CurrentPage-1)">Prev</a>
                            </li>
                        }
                        @for (var pge = pager.StartPage; pge <= pager.EndPage; pge++)
                        {
                            <li class="page-item @( pge==pager.CurrentPage?"active":"")">
                                <a class="page-link" asp-controller="PurchaseOrders" asp-action="Index" asp-route-pg="@pge">@pge</a>
                            </li>
                        }
                        @if (pager.CurrentPage < pager.TotalPages)
                        {
                            <li class="page-item">
                                <a class="page-link" asp-controller="PurchaseOrders" asp-action="Index" asp-route-pg="@(pager.CurrentPage+1)">Next</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" asp-controller="PurchaseOrders" asp-action="Index" asp-route-pg="@pager.TotalPages">Last</a>
                            </li>
                        }
                    </ul>
                </nav>
            }
        </div>
    </div>
}