@{
    var DynamicUrl = "/Admin/Dashboard/";
    var DynamicUrl1 = "/Admin/Dashboard/";
    var DynamicUrl2 = "/Admin/Dashboard/";
}
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,600;1,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <div class="wrapper">
        <!-----------Side Bar Start----------->
        <div class="sidebar">
            <div class="sidebar-head">
                <div class="row">
                    <div class="col-md-5">
                        <div class="head-img">
                            <img src="~/images/admin.jpg" alt="Alternate Text" />
                        </div>
                    </div>
                    <div class="col-md-6 ">
                        <div class="head-padding">
                            <span>UserName</span>
                            <p>Admin@gmail.com</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sidebar-body">

                <ul>
                    @{if ((Context.Request.Path.StartsWithSegments("/Admin/Customers/Index") == true))
                        {
                            DynamicUrl = "/Admin/Customers/Index";

                        }
                        else if ((Context.Request.Path.StartsWithSegments("/Admin/Vendors/Index") == true))
                        {
                            DynamicUrl = "/Admin/Vendors/Index";

                        }
                    }
                    <li>
                        <a class="@(Context.Request.Path.StartsWithSegments(DynamicUrl) ? "parentMenu":null) dropdown2"><i class="fas fa-users"></i><span>CRM</span><i class="fas fa-caret-down"></i></a>
                        <ul class="@(Context.Request.Path.StartsWithSegments(DynamicUrl) ? "show":null) dropdown-menu2">
                            @{ DynamicUrl = "/Admin/Customers/Index";}
                            <li><a class="@(Context.Request.Path.StartsWithSegments(DynamicUrl) ? "active":null)" href="@DynamicUrl">Customer</a></li>
                            @{ DynamicUrl = "/Admin/Vendors/Index";}
                            <li><a class="@(Context.Request.Path.StartsWithSegments(DynamicUrl) ? "active":null)" href="@DynamicUrl">Vendor</a></li>
                        </ul>
                    </li>

                    @{if ((Context.Request.Path.StartsWithSegments("/Admin/Designations/Index") == true))
                        {
                            DynamicUrl1 = "/Admin/Designations/Index";

                        }
                        else if ((Context.Request.Path.StartsWithSegments("/Admin/Employees/Index") == true))
                        {
                            DynamicUrl1 = "/Admin/Employees/Index";

                        }
                    }
                    <li>
                        <a class="@(Context.Request.Path.StartsWithSegments(DynamicUrl1) ? "parentMenu":null) dropdown3"><i class="fas fa-user-tie"></i><span>HRM</span><i class="fas fa-caret-down"></i></a>
                        <ul class="@(Context.Request.Path.StartsWithSegments(DynamicUrl1) ? "show":null) dropdown-menu3">
                            @{ DynamicUrl1 = "/Admin/Designations/Index";}
                            <li><a class="@(Context.Request.Path.StartsWithSegments(DynamicUrl1) ? "active":null)" href="@DynamicUrl1">Designation</a></li>
                            @{ DynamicUrl1 = "/Admin/Employees/Index";}
                            <li><a class="@(Context.Request.Path.StartsWithSegments(DynamicUrl1) ? "active":null)" href="@DynamicUrl1">Employee</a></li>
                        </ul>
                    </li>
                    @{if ((Context.Request.Path.StartsWithSegments("/Admin/Categories/Index") == true))
                        {
                            DynamicUrl2 = "/Admin/Categories/Index";

                        }
                        else if ((Context.Request.Path.StartsWithSegments("/Admin/SubCategories/Index") == true))
                        {
                            DynamicUrl2 = "/Admin/SubCategories/Index";

                        }
                        else if ((Context.Request.Path.StartsWithSegments("/Admin/Brands/Index") == true))
                        {
                            DynamicUrl2 = "/Admin/Brands/Index";

                        }
                        else if ((Context.Request.Path.StartsWithSegments("/Admin/TaxRates/Index") == true))
                        {
                            DynamicUrl2 = "/Admin/TaxRates/Index";

                        }
                        else if ((Context.Request.Path.StartsWithSegments("/Admin/Products/Index") == true))
                        {
                            DynamicUrl2 = "/Admin/Products/Index";

                        }
                        else if ((Context.Request.Path.StartsWithSegments("/Admin/Quotations/Index") == true))
                        {
                            DynamicUrl2 = "/Admin/Quotations/Index";

                        }
                        else if ((Context.Request.Path.StartsWithSegments("/Admin/PurchaseOrders/Index") == true))
                        {
                            DynamicUrl2 = "/Admin/PurchaseOrders/Index";

                        }
                        else if ((Context.Request.Path.StartsWithSegments("/Admin/LineItems/Index") == true))
                        {
                            DynamicUrl2 = "/Admin/LineItems/Index";

                        }
                        else if ((Context.Request.Path.StartsWithSegments("/Admin/Countries/Index") == true))
                        {
                            DynamicUrl2 = "/Admin/Countries/Index";

                        }
                        else if ((Context.Request.Path.StartsWithSegments("/Admin/States/Index") == true))
                        {
                            DynamicUrl2 = "/Admin/States/Index";

                        }
                        else if ((Context.Request.Path.StartsWithSegments("/Admin/Cities/Index") == true))
                        {
                            DynamicUrl2 = "/Admin/Cities/Index";

                        }
                        else if ((Context.Request.Path.StartsWithSegments("/Admin/ShippingCharges/Index") == true))
                        {
                            DynamicUrl2 = "/Admin/ShippingCharges/Index";

                        }
                        else if ((Context.Request.Path.StartsWithSegments("/Admin/Currencies/Index") == true))
                        {
                            DynamicUrl2 = "/Admin/Currencies/Index";

                        }
                        else if ((Context.Request.Path.StartsWithSegments("/Admin/Banners/Index") == true))
                        {
                            DynamicUrl = "/Admin/Banners/Index";

                        }
                        else if ((Context.Request.Path.StartsWithSegments("/Admin/Blogs/Index") == true))
                        {
                            DynamicUrl = "/Admin/Blogs/Index";

                        }

                    }
                    <li>
                        <a class="@(Context.Request.Path.StartsWithSegments(DynamicUrl2) ? "parentMenu":null) dropdown0"><i class="fas fa-boxes"></i><span>Inventory</span><i class="fas fa-caret-down"></i></a>
                        <ul class="@(Context.Request.Path.StartsWithSegments(DynamicUrl2) ? "show":null) dropdown-menu0">
                            @{ DynamicUrl2 = "/Admin/Categories/Index";}
                            <li><a class="@(Context.Request.Path.StartsWithSegments(DynamicUrl2) ? "active":null)" href="@DynamicUrl2">Category</a></li>
                            @{ DynamicUrl2 = "/Admin/SubCategories/Index";}
                            <li><a class="@(Context.Request.Path.StartsWithSegments(DynamicUrl2) ? "active":null)" href="@DynamicUrl2">Sub Category</a></li>
                            @{ DynamicUrl2 = "/Admin/Brands/Index";}
                            <li><a class="@(Context.Request.Path.StartsWithSegments(DynamicUrl2) ? "active":null)" href="@DynamicUrl2">Brand</a></li>
                            @{ DynamicUrl2 = "/Admin/TaxRates/Index";}
                            <li><a class="@(Context.Request.Path.StartsWithSegments(DynamicUrl2) ? "active":null)" href="@DynamicUrl2">Tax Rate</a></li>
                            @{ DynamicUrl2 = "/Admin/Products/Index";}
                            <li><a class="@(Context.Request.Path.StartsWithSegments(DynamicUrl2) ? "active":null)" href="@DynamicUrl2">Product</a></li>
                            @{ DynamicUrl2 = "/Admin/Quotations/Index";}
                            <li><a class="@(Context.Request.Path.StartsWithSegments(DynamicUrl2) ? "active":null)" href="@DynamicUrl2">Quotation</a></li>
                            @{ DynamicUrl2 = "/Admin/PurchaseOrders/Index";}
                            <li><a class="@(Context.Request.Path.StartsWithSegments(DynamicUrl2) ? "active":null)" href="@DynamicUrl2">Purchase Order</a></li>
                            @{ DynamicUrl2 = "/Admin/LineItems/Index";}
                            <li><a class="@(Context.Request.Path.StartsWithSegments(DynamicUrl2) ? "active":null)" href="@DynamicUrl2">Stock</a></li>
                            @{ DynamicUrl2 = "/Admin/Countries/Index";}
                            <li><a class="@(Context.Request.Path.StartsWithSegments(DynamicUrl2) ? "active":null)" href="@DynamicUrl2">Country</a></li>
                            @{ DynamicUrl2 = "/Admin/States/Index";}
                            <li><a class="@(Context.Request.Path.StartsWithSegments(DynamicUrl2) ? "active":null)" href="@DynamicUrl2">State</a></li>
                            @{ DynamicUrl2 = "/Admin/Cities/Index";}
                            <li><a class="@(Context.Request.Path.StartsWithSegments(DynamicUrl2) ? "active":null)" href="@DynamicUrl2">City</a></li>
                            @{ DynamicUrl2 = "/Admin/ShippingCharges/Index";}
                            <li><a class="@(Context.Request.Path.StartsWithSegments(DynamicUrl2) ? "active":null)" href="@DynamicUrl2">ShippingCharge</a></li>
                            @{ DynamicUrl2 = "/Admin/Currencies/Index";}
                            <li><a class="@(Context.Request.Path.StartsWithSegments(DynamicUrl2) ? "active":null)" href="@DynamicUrl2">Currency</a></li>
                            @{ DynamicUrl2 = "/Admin/Banners/Index";}
                            <li><a class="@(Context.Request.Path.StartsWithSegments(DynamicUrl2) ? "active":null)" href="@DynamicUrl2">Banners</a></li>
                            @{ DynamicUrl2 = "/Admin/Blogs/Index";}
                            <li><a class="@(Context.Request.Path.StartsWithSegments(DynamicUrl2) ? "active":null)" href="@DynamicUrl2">Blog</a></li>
                            <li><a href="#">Orders</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="dropdown4"><i class="fas fa-file-invoice-dollar"></i><span>Accounts</span><i class="fas fa-caret-down"></i></a>
                        <ul class="dropdown-menu4">
                            <li><a href="#">Sale</a></li>
                            <li><a href="#">Cash</a></li>
                            <li><a href="#">Bank</a></li>
                            <li><a href="#">Branch</a></li>
                            <li><a href="#">Vendor Bill</a></li>
                        </ul>
                    </li>
                    <li class="bottom-menue">
                        <a class="dropdown5"><i class="fas fa-cog"></i><span>Settings</span><i class="fas fa-caret-down"></i></a>
                        <ul class="dropdown-menu5">
                            <li><a href="#">Sale</a></li>
                            <li><a href="#">Cash</a></li>
                            <li><a href="#">Bank</a></li>
                            <li><a href="#">Branch</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="logoutbtn"><i class="fas fa-power-off"></i><span>Log Out</span></a>
                    </li>
                </ul>
            </div>
        </div>
        <!-----------Side Bar End----------->
        <!-----------Main Start----------->
        <div class="main">
            <!-----------NavBar Start----------->
            <nav class="navbar navbar-expand-lg  navbar-custom">
                <label class="bar" for="check"><i class="fas fa-bars" id="sidebar-btn"></i></label>
                <a class="navbar-brand" href="#">@ViewBag.Title</a>
            </nav>
            <!-----------NavBar End----------->
            <div>
                @RenderBody()
            </div>
        </div>
        <!-----------Main End----------->
    </div>

    <!--Small Modal -->
    <div class="modal fade" id="small-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                </div>
            </div>
        </div>
    </div>

    <!-- Large modal -->
    <div class="modal fade" id="large-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                </div>
            </div>
        </div>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>