@using ERPManagementSystem.ViewModels
@using Microsoft.AspNetCore.Http
@using ERPManagementSystem.Extensions
@inject IHttpContextAccessor HttpContextAccessor
@{
    var userRole = HttpContextAccessor.HttpContext.Session.GetString("roleName");
    ShippingTotal shipping =  HttpContextAccessor.HttpContext.Session.Get<ShippingTotal>("shippingTotal");
    int count = 0;
    decimal subtotal = 0;
    List<StockProductVm> products = HttpContextAccessor.HttpContext.Session.Get<List<StockProductVm>>("products");
    if (products == null)
    {
        products = new List<StockProductVm>();
    }
    foreach (var item in products)
    {
        subtotal = subtotal + item.ProductTotal;

    }
    if (shipping==null)
    {
        shipping = new ShippingTotal();
    }
    shipping.SubTotal =shipping.ShippingCost+ subtotal;
    count = products.Count();
}

<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Hidro -  Minimal eCommerce HTML Template</title>
    <meta name="description" content="Hidro is a eCommerce Boostrap HTML Templates. It is one of the best minimal ecommerce templates. you can use it for minimal shop.">
    <meta name="keywords" content="HTML5, flowers, cookery, sport, bootstrap, interior, fashion, shopping, electronics, clothes, digital, responsive, Technology, furniture,minimal, minimal shop">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->
    <!-- all css here -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assets/css/pe-icon-7-stroke.css">
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/css/meanmenu.css">
    <link rel="stylesheet" href="~/assets/css/shortcodes/shortcode.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="~/assets/css/responsive.css">
    <script src="~/assets/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Add your site or application content here -->
    <div class="waraper-style">
        <header>
            <div class="header-area">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-4 col-xs-4">
                            <div class="logo">
                                <a href="index.html"><img src="assets/img/logo/logo.png" alt=""></a>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-4  col-xs-2 text-center">
                            <div class="main-menu display-inline">
                                <nav>
                                    <ul class="menu">
                                        <li>
                                            <a asp-action="Index" asp-controller="Home" asp-area="Shop">HOME </a>

                                        </li>
                                        <li><a href="about-us.html">ABOUT US</a></li>
                                        <li>
                                            <a href="#">Category <i class="pe-7s-angle-down"></i></a>
                                            @await Component.InvokeAsync("CategorMenu")
                                        </li>

                                        <li>
                                            <a href="blog.html">BLOG <i class="pe-7s-angle-down"></i></a>
                                            <ul>
                                                <li><a href="blog.html">blog 2 column</a></li>
                                                <li><a href="blog-style-2.html">blog full wide</a></li>
                                                <li><a href="blog-details.html">blog details</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="contact-us.html">CONTACT</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4 col-xs-6 text-right text-sm text-res">
                            <div class="cart-user-language">
                                <div class="shopping-cart ml-30 display-inline">
                                    <a class="top-cart" asp-area="Shop" asp-controller="Home" asp-action="Cart"><i class="pe-7s-cart">(@count)</i></a>
                                    <ul>
                                        @foreach (var item in products)
                                        {
                                            <li>
                                                <div class="cart-img">
                                                    <a asp-area="Shop" asp-action="ProductDetail" asp-controller="Home" asp-route-id="@item.Id"><img src="~/@item.ImgPath" alt="" /></a>
                                                </div>
                                                <div class="cart-content">
                                                    <h3><a href="#"> @item.CartQuantity X @item.ProductName</a> </h3>
                                                    
                                                    <span class="cart-price">£ @item.ProductTotal</span>
                                                </div>
                                                <div class="cart-del">
                                                    <a asp-action="RemoveProductToCart" asp-controller="Home" asp-route-id="@item.Id"><i class="pe-7s-close-circle"></i></a>
                                                </div>
                                            </li>
                                        }

                                        <li>
                                            <div class="shipping">
                                                <span class="f-left">Shipping </span>
                                                <span class="f-right cart-price"> $@shipping.ShippingCost</span>
                                            </div>
                                            <hr class="shipping-border" />
                                            <div class="shipping">
                                                <span class="f-left"> Total </span>
                                                <span class="f-right cart-price">$@shipping.SubTotal</span>
                                            </div>
                                        </li>
                                        <li class="checkout m-0"><a asp-action="CheckoutDetail" asp-controller="CheckOut">checkout <i class="pe-7s-angle-right"></i></a></li>
                                    </ul>
                                </div>
                                <div class="user">
                                    <a href="#" data-toggle="modal" data-target="#loginModal"><i class="pe-7s-add-user"></i></a>
                                </div>
                                <div class="search-block-top display-inline">
                                    <div class="icon-search">
                                        <a href="#"><i class="pe-7s-search"></i></a>
                                    </div>
                                    <div class="toogle-content">
                                        <form action="#" id="searchbox">
                                            <input type="text" placeholder="Search" />
                                            <button class="button-search"><i class="pe-7s-search"></i></button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mobile-menu"></div> 
                </div>
            </div>
        </header>
        <!-- header end -->
        <div>
            @RenderBody()
        </div>
        <!-- footer area end -->
        <footer class="footer-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-5">
                        <div class="footer-logo">
                            <a href="#"><img src="assets/img/logo/logo.png" alt=""></a>
                            <p>Lorem ipsum dolor sit amet tempor, consec adipisicing.</p>
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-7">
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="footer-title res-mrg">
                                    <h3>categories</h3>
                                    <div class="footer-menu">
                                        <ul>
                                            <li><a href="shop.html"> Clothing</a></li>
                                            <li><a href="shop.html"> Shoes</a></li>
                                            <li><a href="shop.html">Watches</a></li>
                                            <li><a href="shop.html">Jewelry</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="footer-title res-mrg">
                                    <h3>Quick Links</h3>
                                    <div class="footer-menu">
                                        <ul>
                                            <li><a href="login.html">Login</a></li>
                                            <li><a href="wishlist.html">Wishlist</a></li>
                                            <li><a href="cart.html">My Cart</a></li>
                                            <li><a href="checkout.html">Checkout</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="footer-title res-mrg-2">
                            <h3>newsletter</h3>
                            <div class="footer-newsletter">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor et.</p>
                                <div id="mc_embed_signup" class="subscribe-form">
                                    <form action="#" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" novalidate>
                                        <div id="mc_embed_signup_scroll" class="mc-form">
                                            <input type="email" value="" name="EMAIL" class="email" placeholder="Your email address" required>
                                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                            <div class="mc-news" aria-hidden="true"><input type="text" name="b_6bbb9b6f5827bd842d9640c82_05d85f18ef" tabindex="-1" value=""></div>
                                            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="footer-bottom text-center ptb-20">
                    <p>© 2018<a href="#"> Hidro </a>. All Rights Reserved. </p>
                </div>
            </div>
        </footer>
        <!-- Modal -->
        <div class="modal fade" id="productModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>
                    </div>
                    <div class="modal-body">
                       
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal end -->
        <!-- loginModal -->
        <div class="modal fade" id="loginModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>
                    </div>
                    <div class="modal-body">
                        <div class="login">
                            <div class="login-form-container">
                                <div class="login-text">
                                    <h2>login</h2>
                                    <span>Please login using account detail bellow.</span>
                                </div>
                                <div class="login-form">
                                    <form action="#" method="post">
                                        <input type="text" name="user-name" placeholder="Username">
                                        <input type="password" name="user-password" placeholder="Password">
                                        <div class="button-box">
                                            <div class="login-toggle-btn">
                                                <input type="checkbox" id="remember">
                                                <label for="remember">Remember me</label>
                                                <a href="#">Forgot Password?</a>
                                            </div>
                                            <button type="submit" class="default-btn floatright">Login</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- loginModal end -->
    </div>

    <!-- all js here -->
    <script src="~/assets/js/vendor/jquery-1.12.0.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/jquery.counterup.min.js"></script>
    <script src="~/assets/js/jquery.meanmenu.js"></script>
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <script src="~/assets/js/isotope.pkgd.min.js"></script>
    <script src="~/assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="~/assets/js/waypoints.min.js"></script>
    <script src="~/assets/js/ajax-mail.js"></script>
    <script src="~/assets/js/plugins.js"></script>
    <script src="~/assets/js/main.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
